/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: -250px; /* Start off-screen */
  background-color: #101010AA; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: left 0.3s; /* Smooth transition */
}

/* Style page content */
main, header, footer {
  transition: filter 0.3s; /* Smooth transition */
}

body {
  transition: background-color 0.3s; /* Smooth transition */
}

/* On smaller screens, where width is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .sidenav {padding-top: 40px;}
  .sidenav a {font-size: 15px;}
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: default;
  background-color: transparent; /* Ensure it doesn't overlay other buttons */
  border: none; /* Remove any border */
  padding: 0; /* Remove any padding */
  z-index: 1001; /* Ensure it stays on top */
}

.sidenav .closebtn:hover {
  color: #AAAAAA;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #101010AA;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #101010BB;
}

.sidenav details {
  padding: 10px;
}

